body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	text-decoration: none;
}
.ellipsis{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.item{
	height: 50px;
	line-height: 50px;
	border: 1px #EBECE4 solid;
	background-color: #EBECE4;
	margin-bottom: 10px;
}

.item:hover{
	background-color: #FF7F50;
}
.item-a:link{
	color: #8B8878;
	text-decoration: none;
}
.item-a:visited{
	color: #444444;
}

.item-content{
	background-color: #ffffff;
	height: 48px;
	margin-left: 10px;
	text-indent: 10px;
}

#loadbox{
	margin-top: 51px;
	height: 10px;
	width: 100%;
	position: absolute;
	top: 0;
	margin-left: -40px;
	margin-bottom: 10px;
}
#loadbar{
	height: 10px;
	background-color: #FF6347;
	width: 30%;
	position: absolute;
	top: 0;
	margin-left: -10px;
}


#backtop{
	text-decoration: none;
}

#copyright{

	background-color: #dddddd;
	text-align: center;
}

