<%- include header %>

<div class="container-fluid" style="margin-top: 60px;">
	<div class="row" style="margin-left: -50px;margin-right: -40px;">
		<div class="col-md-12" >
			<h3><span><%= title %></span></h3>

				<%= publishDate%>
				sdfsdfsdf
				
		</div>
	</div>
</div>

<%- include footer %>