<%- include header%>
<header>
    <section>
        <div style="min-height: 500px;background-color: #18bc9c;padding: 80px 0 100px;margin: -10px auto 0;">
            <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <img id="logo" src="/images/logo.jpg" width="220" alt="大连东软信息学院">
                            <div>
                                <span id="logo-name">Dalian Neusoft University of Information</span>
                                
                                <hr>
                                <span id="logo-description">Neusoft News Application</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</header>

	


<%- include footer%>
