<%- include header%>	
<div class="container" style="margin-top: 150px;margin-bottom: 220px;min-height: 600px;">

      <form style="max-width: 400px;margin:0 auto;" action="" method="POST">
        <h2 style="text-align: center;"><%= title%></h2>
        <input type="text" name="id" class="form-control" placeholder="å­¦å·" required="" autofocus="">
        <input type="password" name="birth" class="form-control" placeholder="ç”Ÿæ—¥" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">submit</button>
      </form>

    </div>

<%- include footer%>