<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" style="position:relative;">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="position: relative;" href="/">Newsoft News</a>
                <a class="navbar-brand" id="backtop" href="javascript:;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href=""></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/news">新闻</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/activity">活动</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/notice">通知</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/lecture">讲座</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/tel">电话簿</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">图集</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
